/* black: #1E1E1E */
/* gray: #212738 */
/* white: #EDF2EF */
/* blue: #57C4E5 */
/* pink: #F97068 */
/* yellow: #FFB800 */

/* Common style */

body {
    font-family: 'Cabin', sans-serif;
    background-color: #EDF2EF;
    color: #333333;
    margin: 0;
}

a {
    color: #57C4E5;
    cursor: pointer;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

a:visited {
    color: #F97068;
}

/* Header */
header {
    display: grid;
    place-items: center;
    background-color: #212738;
    height: 100px;
    width: 100%;
}

header a {
    color: #EDF2EF;
    text-decoration: none;
}

header a:visited {
    color: #EDF2EF;
}

header a:hover {
    color: #EDF2EF;
}

header nav {
    color: #EDF2EF;
    text-align: center;
    text-transform: uppercase;
}

header nav ul li {
    display: inline-block;
    padding: 10px;
    margin: 0 5px;
}

header nav ul li:hover {
    background-color: #383F53;
}

/* Intro banner */
.intro-banner {
    background-color: #212738;
    height: 700px;
}
 
h1 {
    color: #EDF2EF;
}

/* Work Experience */


/* Projects */


/* Skills */


/* Footer */
footer {
    display: grid;
    place-items: center;
    background-color: #212738;
    color: #EDF2EF;
    height: 100px;
    width: 100%;
}

footer a {
    color: #EDF2EF;
}

footer a:visited {
    color: #EDF2EF;
}

footer nav ul li {
    display: inline-block;
    margin: 0 10px;
}
