/* black: #1E1E1E */
/* gray: #212738 */
/* light gray: #383F53 */
/* white: #EDF2EF */
/* turquoise: #57C4E5 */
/* pink: #F97068 */
/* yellow: #FFB800 */


/* Common style */
html {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    font-family: 'Cabin', sans-serif;
    text-align: center;
    background-color: #EDF2EF;
    color: #333333;
    margin: 0;
}

a {
    color: #F97068;
    cursor: pointer;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

a:visited {
    color: #d8aaa8;
}

/* Background styles */
.bg-dark {
    background-color: #212738;
    color: #EDF2EF;
}

.bg-light {
    background-color: #EDF2EF;
    color: #212738;
}

/* Containers and boxes */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
}

.box {
    margin: 20px;
    padding: 10px;
}

/* Header */
header {
    width: 100%;
    position: fixed;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

/* Logo string */
.logo-string {
    float: left;
    margin-left: 20px;
    font-size: 1.5rem;
    font-weight: bold;
}

.first-name {
    color: #57C4E5;
}

.last-name {
    color: #EDF2EF;
}

/* Menu */
.menu {
    display: flex;
    font-size: 1.1rem;
    justify-content: flex-end;
    margin-right: 50px;
    /* justify-content: center; */
    text-transform: uppercase;
}

.menu li {
    display: inline-block;
    padding: 10px;
    margin: 0 20px;
}

.menu li:hover {
    background-color: #383F53;
}

.menu a {
    color: #EDF2EF;
    text-decoration: none;
}

.menu a:hover {
    color: #EDF2EF;
}

.menu a:visited {
    color: #EDF2EF;
}

/* Main */
main {
    padding-top: 80px;
}

/* Intro banner */
.intro-banner {
    height: 700px;
}
 
h1 {
    color: #EDF2EF;
    font-size: 3rem;
}

/* Work Experience */


/* Projects */


/* Skills */
.skills .container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.skills .box {
    min-width: 300px;
    max-width: 500px;
    min-height: 300px;
    max-height: 500px;
}

/* Footer */
footer {
    font-size: 0.9rem;
    display: grid;
    place-items: center;
    width: 100%;
}

footer a {
    color: #EDF2EF;
}

footer a:visited {
    color: #EDF2EF;
}

footer nav ul {
    padding: 10px;
}

footer nav ul li {
    display: inline-block;
    margin: 0 10px;
}

.copyright {
    font-size: 0.75rem;
}

/* Responsive */
@media (max-width: 690px) {
    .logo-string {
        display: none;
    }

    .menu {
        justify-content: center;
    }
}

@media (max-width: 500px) {
    footer nav ul {
        padding: 0;
    }
    footer nav ul li {
        display: flex;
        flex-direction: column;
        margin: 10px auto;
    }
}
